---
# tasks file for sigma.coreos-bootstrap

- name: Run bootstrap.sh
  script: bootstrap.sh creates={{coreos_pkg_home}}/.bootstrapped
  environment:
    PKG_HOME: "{{coreos_pkg_home}}"
    PYPY_VERSION: "{{coreos_pypy_version}}"
    PYPY_HOME: "{{coreos_pypy_home}}"
    PYPY_DOWNLOAD_URL: "{{coreos_pypy_url}}"

- name: Get get-pip.py
  get_url: url={{coreos_pip_script}} dest={{coreos_pkg_home_bin}}/get-pip.py mode=0755

- name: Install pip
  shell: "{{coreos_python_interpreter}} {{coreos_pkg_home_bin}}/get-pip.py creates={{coreos_pypy_home}}/bin/pip"

- name: create /opt/bin
  sudo: yes
  sudo_user: root
  file: path=/opt/bin state=directory mode=0755

- name: install docker downloader
  sudo: yes
  sudo_user: root
  copy: src=get-static-docker dest=/opt/bin/get-static-docker mode=0755

- name: install docker downloader service
  sudo: yes
  sudo_user: root
  copy: src=static-docker.service dest=/etc/systemd/system/static-docker.service
  register: static_docker

- name: Enable docker downloader service
  service: name=static-docker.service enabled=yes state=started
  sudo: yes
  sudo_user: root
  when: static_docker.changed and ansible_lsb.id == "CoreOS"
